@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white;
  }
  header,
  main,
  footer {
    @apply xl:max-w-6xl lg:max-w-4xl md:max-w-3xl px-5 mx-auto;
  }

  h2 {
    @apply font-mono text-xl md:text-2xl;
  }
  h3 {
    @apply font-display text-3xl md:text-4xl xl:text-5xl text-orange_400;
  }
  button {
    @apply font-mono;
  }
  input,
  textarea {
    @apply font-sans outline-none px-3 py-2 bg-purple_300 /* focus:outline-2 focus:outline-offset-2 focus:outline-orange_400 */;
  }
  :focus {
    @apply outline outline-offset-4 outline-2 outline-orange_400;
  }
}

html {
  scroll-behavior: smooth;
}

.nav {
  position: fixed;
  inset: 0 0 0 4em;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
.nav-open {
  transform: translateX(0);
}

.nav-list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
